---
- name: Add Golang PPA repository
  ansible.builtin.apt_repository:
    repo: ppa:longsleep/golang-backports
    state: present

- name: Update APT cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Install golang-go
  ansible.builtin.apt:
    name: golang-go
    state: present
