- name: Normalize architecture for APT
  ansible.builtin.set_fact:
    devops_arch_deb: "{{ 'amd64' if ansible_architecture == 'x86_64' else ansible_architecture }}"

- name: Add HashiCorp APT repository
  ansible.builtin.apt_repository:
    repo: >-
      deb [arch={{ devops_arch_deb }} signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg]
      https://apt.releases.hashicorp.com {{ ansible_lsb.codename }} main
    filename: hashicorp
    state: present

- name: Update APT cache
  ansible.builtin.apt:
    update_cache: true
