- name: Update package cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install development tools
  apt:
    name: "{{ dev_tools }}"
    state: present
  vars:
    dev_tools:
      - mc
      - htop
      - curl
      - git
      - build-essential
      - dos2unix
      - unzip
      - gpg
      - ffmpeg
      - tree
      - vim
      - wget
