- name: Download Task installation script
  ansible.builtin.get_url:
    url: https://taskfile.dev/install.sh
    dest: /tmp/task_install.sh
    mode: '0755'

- name: Install Task
  ansible.builtin.command: /tmp/task_install.sh -d -b /usr/local/bin
  args:
    creates: /usr/local/bin/task

- name: Clean up Task installation script
  ansible.builtin.file:
    path: /tmp/task_install.sh
    state: absent

- name: Verify Task installation
  ansible.builtin.command: task --version
  register: common_task_version
  changed_when: false
  failed_when: common_task_version.rc != 0

- name: Show installed Task version
  ansible.builtin.debug:
    msg: "Task version: {{ common_task_version.stdout }}"
