# Ubuntu Desktop specific setup
# This role is applied only when using the ubuntu-desktop inventory (env: ubuntu-desktop)

- name: Ubuntu Desktop | Update APT cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Ubuntu Desktop | Import desktop tools installation tasks
  ansible.builtin.import_tasks: install_desktop_tools.yml

- name: Ubuntu Desktop | Import snap packages installation tasks
  ansible.builtin.import_tasks: install_snap_packages.yml

- name: Install MicroK8s
  ansible.builtin.import_tasks: install_microk8s.yml
